<%= form_for @person do |f| %>

<% if @person.errors.any? %>
    <div id="error_explanation">
      <ul style="list-style-type:none">
       <% @person.errors.each do |attr, msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
     </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :title => "Name", placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :favoriteCity, :title => "City", placeholder: "Favorite City" %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </div>
   <%= f.submit "Add", :class => 'button green btn-new' %>
<% end %>
