<!DOCTYPE html>
<html>
  <head>
    <title>Sptf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%='white' if request.original_url != 'https://for-sptf.herokuapp.com/guides' %>" >
    <div id="header">
      <%=link_to (image_tag "pat-logo.svg"), people_path %>
    </div>
    <div id="guide">
      <% if request.original_url != 'https://for-sptf.herokuapp.com/guides'%>
      <%= link_to "Instructions", guides_path %>
      <% end %>
    </div>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <div class="content">
    <%= yield %>
    </div>
    <% if request.original_url != 'https://for-sptf.herokuapp.com/guides'%>
    <div class="made-by">
      <a target="_blank" href="http://www.nataliapat.com/" id="made-by">Natallia Pat</a>
      for TTP
    </div>
    <% end %>
  </body>
</html>
